/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
	background-color: #F4E1D2;
}
div.container, div.home-container {
	max-width: 60em;
	margin: auto;
}
img {
    width: 100%;
    display: block;
}
figcaption {
	font-family: "source-sans-pro", sans-serif;
	font-weight: 400;
	font-style: italic;
	padding-top: 0.5em;
	padding-bottom: 1.5em;
	padding-left: 0.5em;
	color: rgba(73,73,73,1.00);
}

body {
	text-decoration: none;
}

h1 {
	width: 6em;
	padding: 1em 0.5em;
}

h2 {
	font-weight: bold;
	color: rgba(43,34,27,1.00);
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
}

section.mainstory {
	margin: 0 0.25em;
}

section.mainstory h2 {
	margin-left: 0.15em;
}

section.mainstory p {
	margin-left: 0em;
}

article h2{
	font-size: 3em;
	font-weight: bold;
	padding-top: 0.3em;
	padding-bottom: 0.25em;
	margin-left: 0.15em;
}
p {
	margin: 0em 0.5em 1em;
	color: rgba(0,0,0,1.00);
	font-family: "source-sans-pro", sans-serif;
	font-weight: 400;
	font-style: normal;	
}

article p {
	padding: 0em 0.5em 1em;
}

section.tertiary p {
	padding-bottom: 0;
	margin-left: 0;
}

a {
	color: rgba(51,51,51,1.00);
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: auto;
	padding-left: 0.5em;
	text-align: left;
	padding-bottom: 1em;
}

nav ul li {
	font-family: "proxima-nova", sans-serif;
	list-style-type: none;
	font-weight: bold;
	margin-right: 1em;
	font-size: 1.5em;
}

nav ul li a {
	color: rgba(43,34,27,1.00);
}

section.mainstory h2 {
	font-size: 3em;
	font-weight: bold;
	padding-top: 0.3em;
	padding-bottom: 0.25em;
	margin-left: 0em;
}
section.secondary h2 {
	font-size: 1.5em; 
	margin-left: 0.2em; 
}

section.tertiary {
	margin: 0 0.25em;
	border-top: 1.5px solid rgba(43,34,27,1.00);;
}

section.secondary p {
	margin-left: 0.25em;
}

aside {
	background-color: rgba(183,150,106,1.00);
	padding: 0.5em;
}

aside h2 {
	font-size: 1.2em; 
}

aside p{
	padding-bottom: 2em;
	margin-left: 0;
}

footer {
	background-color: rgba(84,64,46,1.00);
	padding-top: 0.75em;
	padding-left: 0.5em;
	box-sizing: border-box;

}
footer p{
	color: rgba(255,255,255,1.00);
	margin: 0; 
	padding-bottom: 1em;
}


@media screen and (min-width: 35em) {
	nav ul li{
		display: inline-block;
	}
    nav ul, p, h1, h2 {
        margin-left: 0;
    }

    section.tertiary{
        margin: 0;
    }
	
	
} 

@media screen and (min-width: 60em) {
	
	div.container {
		max-with: 60em;
		padding: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 1em;
	}
	
	div.home-container {
		max-width: 80em;
		padding: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 1em;
	}
	
	header, footer {
		grid-column: 1/3;
	}
	
	div.home-container main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-grap: 1em;
	}
	
	div.home-container aside{
		background: none;
		padding: 0;
		margin-top: 0;
	}
	
	div.container aside{
		margin-top: 0;
	}
	
	section.mainstory {
		grid-column: 2/4;
		grid-row: 1/3;
		display: flex;
	}
	
	section.mainstory a {
		flex: 1 0 12em;
		display: flex;
		flex-direction: column; 
	}
	
	section.mainstory a figure {
		flex: 1 0 12em;
		display: flex;
	}
	
	
	section.mainstory a figure img {
		object-fit: cover;
	}
	
	section.mainstory a h2 {
		flex: 0 0 1em;
	}
	
	section.mainstory a p {
		flex: 0 0 4em;
	}
	
	section.secondary {
		display: flex;
	}
	
	section.secondary a {
		flex: 1 0 12em;
		display: flex;
		flex-direction: column; 
	}
	
	section.secondary a figure {
		flex: 1 0 12em;
		display: flex;
		padding: 0 0.25em;
	}
	
	section.secondary a figure img {
		object-fit: cover;
	}
	
	section.secondary a h2 {
		flex: 0 0 1em;
	}
	
	section.secondary a p {
		flex: 0 0 4em;
	}
}
