/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body{
    background-color: rgb(249,249,249);
}
figcaption{
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    margin: 1.5em;
}
img {
    width: 100%; /*Please leave this line.*/
     display: block;
}
h1{
    background-color: rgb(254,125,0);
	color: rgb(249,249,249); 
	font-size: 2em;
	padding: 1em 0.7em 0.3em; 
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
	
}
h2{
    background-color: rgb(254,125,0);
	color: rgb(254,216,178); 
	font-size: 1.8em;
	padding: 0em 0.7em 0.8em; 
}
h3{
    background-color: rgb(249,249,249);
	color: rgb(254,125,0); 
	font-size: 1.5em;
	padding: 0.8em 0.25em 0.1em; 
    text-transform: uppercase;
    margin:0.7em;
}

li{
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    margin: 1.5em;
}

p{
    background-color: rgb(254,125,0);
	color: rgb(235,221,212); 
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding: 0.3em 1.5em 0.1em;
}
